<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block>  /*/-->
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>
</head>
<body>
	<!--/*/ <th:block th:insert="fragments/header :: header"></th:block>  /*/-->
	<main>
	<div class="row">
		<form class="col s12" method="POST">
			<fieldset>
				<legend>Datos Instalación</legend>
				<div class="row">
					<div class="input-field col s6 l1">
						<input th:value="${instalacion.id != 0} ? ${instalacion.id}"
							id="txtId" type="text" disabled> <label for="txtId">ID</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 l4">
						<input th:value="${instalacion.descripcion}" id="txtDescripcion"
							type="text"> <label for="txtDescripcion">Descripción</label>
					</div>
					<div class="input-field col s6 l2">
						<select id="cbxEstado" name="cbxEstado">
							<option value="" disabled selected>Estado</option>
							<option value="0">Deshabilitada</option>
							<option value="1">Habilitada</option>
						</select> <label for="cbxEstado">Estado</label>
					</div>
				</div>

				<div class="row">
					<input type="submit" class="btn waves-effect waves-light black"
						th:value="${instalacion.id != 0} ? 'Actualizar' : 'Agregar'">
				</div>
			</fieldset>
		</form>
	</div>
		<div class="row">
		<a th:href="@{/instalaciones}">Volver a lista</a>
	</div>
	</main>

	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block>  /*/-->

</body>
</html>