<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block>  /*/-->
</head>
<body>
	<!--/*/ <th:block th:insert="fragments/header :: header"></th:block>  /*/-->



	<main>
	<h5>Lista de Instalaciones</h5>
	<br />
	<table class="centered responsive-table striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Descripción</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="ins : ${listaInstalaciones}">
				<td th:text="${ins.id}"></td>
				<td th:text="${ins.descripcion}"></td>
				<td><a href="#" class="btn-floating btn-small waves-effect waves-light black"><i class="material-icons">edit</i></a> <a
					href="#" class="btn-floating btn-small waves-effect waves-light black"><i class="material-icons">delete</i></a></td>

			</tr>
		</tbody>
	</table>

	</main>


	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block>  /*/-->

</body>
</html>