<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>

	<div th:fragment="footer">
		<footer class="page-footer black">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Club Social y Deportivo La Emilia</h5>

						<p class="grey-text text-lighten-4"></p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					©2018 <a class="grey-text text-lighten-4 right" href="#!">Link
						Web Desarrollador</a>
				</div>
			</div>
		</footer>
	</div>


</body>

</html>