<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!--CSS-->
<link rel="stylesheet"
	th:href="@{/css/materialize.css}">

<link rel="stylesheet" th:href="@{/css/style.css}">

<!--JavaScript -->
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
	th:src="@{/js/materialize.js}"></script>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="UTF-8" />
<title th:text="${titulo}">Club La Emilia</title>
<script type="text/javascript">
	$(document).ready(function() {
		$(".dropdown-button").dropdown();
	});
</script>
</head>
<body>
</body>


</html>