<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block>  /*/-->
</head>

<body>
	<!--/*/ <th:block th:insert="fragments/header :: header"></th:block>  /*/-->

	<main>
	<div class="row">
		<form class="col s12" method="POST" action="/socios/guardar"
			modelAttribute="socio">
			<fieldset>
				<legend>Datos Socio</legend>
				<div class="row">
					<div class="input-field col s4 l2" th:switch="${modo}">

						<input th:case="edit" th:value="${socio.id}" name="id" id="id"
							type="text" readonly> <label th:case="edit" for="id">ID</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4 l2">
						<input th:value="${socio.dni}" type="text" id="txtDNI" name="dni">
						<label for="txtDNI">DNI</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 l4">
						<input th:value="${socio.nombre}" type="text" id="txtNombre"
							name="nombre"> <label for="txtNombre">Nombre</label>
					</div>
					<div class="input-field col s12 l4">
						<input th:value="${socio.apellido}" type="text" id="txtApellido"
							name="apellido"> <label for="txtApellido">Apellido</label>
					</div>

				</div>
				<div class="row">
					<div class="input-field col s12 l4">
						<input th:value="${socio.localidad}" type="text" id="txtLocalidad"
							name="localidad"> <label for="txtLocalidad">Localidad</label>
					</div>
					<div class="input-field col s12 l4">
						<input th:value="${socio.direccion}" type="text" id="txtDireccion"
							name="direccion"> <label for="txtDireccion">Dirección</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 l4">
						<input th:value="${socio.telefono}" type="text" id="txtTelefono"
							name="telefono"> <label for="txtTelefono">Teléfono</label>
					</div>
					<div class="input-field col s12 l4">
						<select id="cbxCategorias" name="cbxCategorias">
							<option value="" disabled selected>Categoria</option>
							<option th:each="cat : ${listaCategorias}" th:value="${cat.id}"
								th:text="${cat.descripcion}" name="id_categoria_socio" />
						</select> <label>Seleccionar Categoria</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 l4">
						<input th:value="${socio.email}" type="text" id="txtEmail"
							name="email"> <label for="txtEmail">Email</label>
					</div>
					<div class="input-field col s12 l4">

						<input th:value="${socio.password}" type="password"
							id="txtPassword" name="password"> <label for="txtPassword">Contraseña</label>
</div>

				</div>
				
						
				

		

				<div class="input-field col l4 hide-on-med-and-down">
					<input type="submit" class="btn waves-effect waves-light black"
						th:value="${modo == 'edit'} ? 'Actualizar' : 'Agregar'">
				</div>

			</fieldset>
		</form>
	</div>
	<div class="row">
		<div class="col s12">
			<a th:href="@{/socios}"
				class="btn-floating btn-small waves-effect waves-light black"><i
				class="material-icons">arrow_back</i></a>
		</div>
	</div>
	</main>

</body>
</html>