<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block>  /*/-->
</head>
<body>
	<!--/*/ <th:block th:insert="fragments/header :: header"></th:block>  /*/-->



	<main>
	<h5 class="center">Lista de Socios</h5>
	<br />
	<div class="row">
	<div class="col s12">
	</div>
	</div>
	<div class="row">
	<div class="col s12">
	<table class="centered responsive-table striped">
		<thead> 
			<tr>
				<th>ID</th>
				<th>DNI</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="soc : ${listaSocios}">
				<td th:text="${soc.id}"></td>
				<td th:text="${soc.dni}"></td>
				<td th:text="${soc.nombre}"></td>
				<td th:text="${soc.apellido}"></td>
				
			</tr>
		</tbody>
	</table>
	</div>
	</div>

	</main>


	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block>  /*/-->

</body>
</html>