<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block>  /*/-->
</head>
<body>
	<!--/*/ <th:block th:insert="fragments/header :: header"></th:block>  /*/-->



	<main>
	<h5 class="center">Lista de Socios</h5>
	<br />
	<div class="row">
	<div class="col s12">
	<a th:href="@{/socios/agregar}" class="btn waves-effect waves-light black">Nuevo Socio</a>
	</div>
	</div>
	<div class="row">
	<div class="col s12">
	<table class="centered responsive-table striped">
		<thead> 
			<tr>
				<th>ID</th>
				<th>DNI</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="soc : ${listaSocios}">
				<td th:text="${soc.id}"></td>
				<td th:text="${soc.dni}"></td>
				<td th:text="${soc.nombre}"></td>
				<td th:text="${soc.apellido}"></td>
				<td th:text="${soc.estado}"></td>
				<td><a th:href="@{'/socios/editar/' + ${soc.id}}" class="btn-floating btn-small waves-effect waves-light black"><i class="material-icons">edit</i></a> <a
					th:href="@{'/socios/eliminar/' + ${soc.id}}" class="btn-floating btn-small waves-effect waves-light black"><i class="material-icons">delete</i></a></td>
				
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	<div class="row">
		<div class="col s12">
			<a th:href="@{/}"
				class="btn-floating btn-small waves-effect waves-light black"><i
				class="material-icons">arrow_back</i></a>
		</div>

	</main>


	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block>  /*/-->

</body>
</html>