<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block>  /*/-->
</head>
<body>
	<!--/*/ <th:block th:insert="fragments/header :: header"></th:block>  /*/-->

	<main >
	<h4>Lista Categorías</h4>
	<br/>
	<br/>
		<table class="responsive-table striped">
			<tr>
				<th>ID</th>
				<th>Descripcion</th>
			</tr>
			<tr th:each="cat : ${listaCategorias}">
				<td th:text="${cat.id}"></td>
				<td th:text="${cat.descripcion}"></td>
			</tr>
		</table>




	<a th:href="@{/}">Volver a Inicio</a>

	</main>


	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block>  /*/-->
</body>
</html>